@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Playfair Display", serif;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
    margin:0;
    padding:0;
}
/*Topbar*/
.topbar {
    text-align:center;
    font-size:20px;
    background-color:#EDD8F8;
    padding:14px 80px;
}

/*Hero Section*/
.hero{
    background-image: url('../images/key.jpg');
    width:100%;
    height:725px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.hero::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.4;
    pointer-events: none; /*this helps to click */
}
.hero-content {
    position:absolute;
}
.hero-content h1 {
    color:white;
    font-size: 30px;
}
.hero-content h1 span{
    color:#b755eb;
}
.hero-content p{
    color:white;
    width:100%;
    font-size: 20px;
    margin-bottom:20px;
}

.view-btn{
    background-color: transparent;
    color:white;
    border:2px solid white;
    border-radius:4px;
    padding:6px 14px;
    font-size: 15px;
}
.view-btn:hover, .download-btn:hover{
    background-color:white;
    color:#b755eb;
}
.download-btn {
   background-color: #b755eb;
   color:white;
   border:none;
   border-radius:4px;
   margin-left:14px;
   padding:6px 14px;
   font-size:15px;
}


/*ABOUT ME */
.about-me{
    padding:14px 80px;
    background-color: #EDD8F8;
}
.about-me h3{
    text-align: center;
    padding-bottom:30px;
}
.about {
    padding-bottom: 30px;
}
.about p{
    text-align: center;
    width:100%;
    max-width:900px;
    margin: auto;
    padding:20px;
}

/*SKILLS */
.skills{
    text-align:center;
    padding:14px 80px;
}
.skills h3{
    padding-bottom:20px;
}
.skill {
    padding: 20px;
}
.skill ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.skill ul li{
     background-color: #EDD8F8;
     margin-right:20px;
     padding:40px;
     border-radius: 50%;
     font-size:15px;
     width:100%;
     max-width:100px;
}
.skill ul :hover{
    background-image:radial-gradient(circle,white, #b755eb);
    padding-right:10px;
    padding-left:10px;
}
/*PROJECT*/
.project {
    background-color: #EDD8F8;
    padding: 14px 80px;
}
.project h3{
    text-align:center;
    padding-bottom: 20px;
}
.pjt {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.pjt-card{
    width:500px;
    height: auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px gray;
}
.pjt :hover{
    padding:10px;
    background-color:white;
    font-size:15px;
}
.pjt-card h4{
    padding-bottom:10px;
    text-transform: uppercase ;
    border-bottom: 1px solid black;
}
.pjt-card p{
    margin-top:5px;
}


/*footer*/
footer{
    padding:14px 80px;
}
footer h3{
    text-align:center;
}
.in-touch{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:30px;
}

.contact-info ul{
    display:flex;
    font-size:20px;
    justify-content: center;
    align-items: center; 
    border-top:1px solid white;
    margin:0  auto;
    width:15%;
}
.contact-info ul li{
     padding-top:5px;
     padding-left:15px;
}
.copyright{
    background-color: #b755eb;
    color:white;
    font-size:15px;
    text-align: center;
}



